/*********************
  FLEXBOX
*********************/

.container {
  display: flex;
}

/*********************
  GENERAL
*********************/

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*********************
  NAVBAR
*********************/

nav {
  background-color: #FFB4B0;
  border: 2px solid black;
  margin: 2% 10% 1%;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

/*********************
  ADD MUSIC
*********************/

#add-music-view {
  display: flex;
  margin-top: 70px;
}

.user-music-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.user-music-info label {
  text-align: right;
  line-height: 1.8em;
}

.user-music-info button {
  width: 50%;
  margin: 10px auto 0;
}

/*********************
  FILTERS
*********************/

.filters {
  width: 20%;
  background-color: #4DD7FA;
  border: 2px solid black;
  padding: 1%;
  margin-left: 10%;
  margin-right: 15px;
}

.slider input {
  width: 100%;
}

.genres {
  list-style-type: none;
  display: flex;
}

.inline_checkbox {
  display: inline-block;
}

.filter_button {
  margin-top: 15px;
  text-align: center;
}

.filter_button button {
  padding: 0 25px;
}

/*********************
  SONG LIST 
*********************/

#song_list_id {
  width: 70%;
  height: 360px;
  background-color: #FEFAC0;
  border: 2px solid black;
  padding: 1%;
  margin-right: 10%;
  overflow-y: auto;
}

#song_list_id div {
  display: flex;
}

.delete {
  padding: 0;
  margin: 5px 5px;
}